* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Noto Sans TC";
  font-style: normal;
  text-decoration: none;
}

body main {
  width: 100%;
  margin-bottom: 100px;
  padding-top: 54px;
}
@media (max-width: 1200px) {
  body main {
    padding-top: 40px;
  }
}
body main .attraction_page {
  max-width: 1200px;
  margin: 0 auto;
}
@media (max-width: 1200px) {
  body main .attraction_page {
    width: 100%;
  }
}
@media (max-width: 1000px) {
  body main .attraction_page {
    width: 100%;
  }
}
@media (max-width: 700px) {
  body main .attraction_page {
    width: 100%;
  }
}
@media (max-width: 360px) {
  body main .attraction_page {
    padding-top: 0;
    width: 100%;
  }
}
body main .attraction_page .attraction_page_top_content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 10px;
}
@media (max-width: 1000px) {
  body main .attraction_page .attraction_page_top_content {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    padding: 0px;
  }
}
@media (max-width: 700px) {
  body main .attraction_page .attraction_page_top_content {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0px;
  }
}
@media (max-width: 360px) {
  body main .attraction_page .attraction_page_top_content {
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin: 0 auto;
  }
}
body main .attraction_page .attraction_page_top_content .attraction_page_top_imgContainer {
  width: 740px;
  height: 406px;
  overflow: hidden;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 1200px) {
  body main .attraction_page .attraction_page_top_content .attraction_page_top_imgContainer {
    width: 100%;
    height: 406px;
    margin-left: 15px;
  }
}
@media (max-width: 1000px) {
  body main .attraction_page .attraction_page_top_content .attraction_page_top_imgContainer {
    width: 100%;
    height: 406px;
    margin-left: 0px;
  }
}
@media (max-width: 700px) {
  body main .attraction_page .attraction_page_top_content .attraction_page_top_imgContainer {
    width: 100%;
    height: 440px;
    margin-left: 0px;
  }
}
@media (max-width: 360px) {
  body main .attraction_page .attraction_page_top_content .attraction_page_top_imgContainer {
    width: 360px;
    height: 350px;
    margin-left: 0px;
  }
}
body main .attraction_page .attraction_page_top_content .attraction_page_top_imgContainer .attraction_page_top_imgBoxes {
  width: 100%;
  height: 100%;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
  display: block;
}
@media (max-width: 1200px) {
  body main .attraction_page .attraction_page_top_content .attraction_page_top_imgContainer .attraction_page_top_imgBoxes {
    display: block;
  }
}
@media (max-width: 1000px) {
  body main .attraction_page .attraction_page_top_content .attraction_page_top_imgContainer .attraction_page_top_imgBoxes {
    width: 100%;
    height: 100%;
    display: block;
  }
}
@media (max-width: 700px) {
  body main .attraction_page .attraction_page_top_content .attraction_page_top_imgContainer .attraction_page_top_imgBoxes {
    width: 100%;
    display: block;
  }
}
body main .attraction_page .attraction_page_top_content .attraction_page_top_imgContainer .attraction_page_top_imgBoxes .swiper_img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}
@media (max-width: 1200px) {
  body main .attraction_page .attraction_page_top_content .attraction_page_top_imgContainer .attraction_page_top_imgBoxes .swiper_img {
    width: 100%;
  }
}
@media (max-width: 1000px) {
  body main .attraction_page .attraction_page_top_content .attraction_page_top_imgContainer .attraction_page_top_imgBoxes .swiper_img {
    width: 100%;
  }
}
@media (max-width: 700px) {
  body main .attraction_page .attraction_page_top_content .attraction_page_top_imgContainer .attraction_page_top_imgBoxes .swiper_img {
    width: 100%;
    margin: 0 auto;
  }
}
@media (max-width: 360px) {
  body main .attraction_page .attraction_page_top_content .attraction_page_top_imgContainer .attraction_page_top_imgBoxes .swiper_img {
    width: 100%;
    margin: 0 auto;
  }
}
body main .attraction_page .attraction_page_top_content .attraction_page_top_imgContainer .attraction_page_top_imgArrow {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
}
body main .attraction_page .attraction_page_top_content .attraction_page_top_imgContainer .attraction_page_top_imgArrow .imgArrow_block {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: white;
  opacity: 0.6;
  font-size: 1.5rem;
  line-height: 36px;
  justify-content: center;
  position: relative;
}
body main .attraction_page .attraction_page_top_content .attraction_page_top_imgContainer .attraction_page_top_imgArrow .imgArrow_block i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
body main .attraction_page .attraction_page_top_content .attraction_page_top_imgContainer .swiper_pagination {
  width: 100%;
  height: 15px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  position: absolute;
  bottom: 12px;
}
body main .attraction_page .attraction_page_top_content .attraction_page_top_imgContainer .swiper_pagination .pagination {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 4px white;
  background-color: white;
  padding: 3px;
  margin-right: 8px;
}
body main .attraction_page .attraction_page_top_content .attraction_page_tour {
  width: 50vw;
  margin: 10px 10px 20px 20px;
}
@media (max-width: 1000px) {
  body main .attraction_page .attraction_page_top_content .attraction_page_tour {
    margin-top: 20px;
  }
}
@media (max-width: 360px) {
  body main .attraction_page .attraction_page_top_content .attraction_page_tour {
    width: 100vw;
    padding: 10px;
    margin: 0px;
  }
}
body main .attraction_page .attraction_page_top_content .attraction_page_tour .attraction_page_tour_content {
  display: flex;
  flex-direction: column;
  color: #666666;
}
@media (max-width: 360px) {
  body main .attraction_page .attraction_page_top_content .attraction_page_tour .attraction_page_tour_content {
    width: 100%;
  }
}
body main .attraction_page .attraction_page_top_content .attraction_page_tour .attraction_page_tour_content .attraction_page_tour_title {
  font-weight: 700;
  font-size: 24px;
}
body main .attraction_page .attraction_page_top_content .attraction_page_tour .attraction_page_tour_content .attraction_page_tour_subtitle {
  display: flex;
  margin-top: 15px;
}
body main .attraction_page .attraction_page_top_content .attraction_page_tour .attraction_page_tour_content .attraction_page_tour_subtitle .attraction_page_tour_category, body main .attraction_page .attraction_page_top_content .attraction_page_tour .attraction_page_tour_content .attraction_page_tour_subtitle .attraction_page_tour_mrt {
  font-weight: 500;
  font-size: 16px;
}
body main .attraction_page .attraction_page_top_content .attraction_page_tour .attraction_page_tour_block {
  height: 310px;
  background: #E8E8E8;
  border-radius: 5px;
  margin-top: 20px;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  color: #666666;
  margin-bottom: 40px;
}
@media (max-width: 1200px) {
  body main .attraction_page .attraction_page_top_content .attraction_page_tour .attraction_page_tour_block {
    width: 50vw;
    height: 340px;
  }
}
@media (max-width: 1000px) {
  body main .attraction_page .attraction_page_top_content .attraction_page_tour .attraction_page_tour_block {
    width: 90vw;
    height: 310px;
  }
}
@media (max-width: 700px) {
  body main .attraction_page .attraction_page_top_content .attraction_page_tour .attraction_page_tour_block {
    height: 320px;
  }
}
@media (max-width: 360px) {
  body main .attraction_page .attraction_page_top_content .attraction_page_tour .attraction_page_tour_block {
    width: 100vw;
    height: 320px;
    margin: 15px 0;
  }
}
body main .attraction_page .attraction_page_top_content .attraction_page_tour .attraction_page_tour_block h4 {
  font-weight: 700;
  font-size: 16px;
  line-height: 13px;
  margin-bottom: 24px;
}
@media (max-width: 360px) {
  body main .attraction_page .attraction_page_top_content .attraction_page_tour .attraction_page_tour_block h4 {
    margin-bottom: 20px;
  }
}
body main .attraction_page .attraction_page_top_content .attraction_page_tour .attraction_page_tour_block p {
  font-weight: 500;
  font-size: 16px;
  line-height: 13px;
  margin-bottom: 24px;
}
@media (max-width: 1200px) {
  body main .attraction_page .attraction_page_top_content .attraction_page_tour .attraction_page_tour_block p {
    line-height: 26px;
    margin-bottom: 10px;
  }
}
@media (max-width: 1000px) {
  body main .attraction_page .attraction_page_top_content .attraction_page_tour .attraction_page_tour_block p {
    line-height: 26px;
  }
}
@media (max-width: 360px) {
  body main .attraction_page .attraction_page_top_content .attraction_page_tour .attraction_page_tour_block p {
    line-height: 26px;
    margin-bottom: 10px;
  }
}
body main .attraction_page .attraction_page_top_content .attraction_page_tour .attraction_page_tour_block .attraction_page_tour_block_input {
  display: flex;
  margin-bottom: 24px;
}
body main .attraction_page .attraction_page_top_content .attraction_page_tour .attraction_page_tour_block .attraction_page_tour_block_input label {
  font-weight: 700;
  font-size: 16px;
  line-height: 13px;
}
body main .attraction_page .attraction_page_top_content .attraction_page_tour .attraction_page_tour_block .attraction_page_tour_block_input label #date {
  width: 193px;
  height: 35px;
  padding: 5px 10px;
}
body main .attraction_page .attraction_page_top_content .attraction_page_tour .attraction_page_tour_block .attraction_page_tour_block_input {
  margin-bottom: 24px;
  display: flex;
  justify-content: start;
  align-items: center;
}
body main .attraction_page .attraction_page_top_content .attraction_page_tour .attraction_page_tour_block .attraction_page_tour_block_input label {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}
body main .attraction_page .attraction_page_top_content .attraction_page_tour .attraction_page_tour_block .attraction_page_tour_block_input label #morning, body main .attraction_page .attraction_page_top_content .attraction_page_tour .attraction_page_tour_block .attraction_page_tour_block_input label #afternoon {
  width: 22px;
  height: 22px;
  font-size: 16px;
  accent-color: #448899;
  margin: auto 4px;
  vertical-align: middle;
  line-height: 22px;
}
body main .attraction_page .attraction_page_top_content .attraction_page_tour .attraction_page_tour_block .attraction_page_tour_block_input {
  display: flex;
  line-height: 13px;
  margin-bottom: 15px;
}
body main .attraction_page .attraction_page_top_content .attraction_page_tour .attraction_page_tour_block .attraction_page_tour_block_input .cash {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 16px;
  line-height: 13px;
  margin-right: 10px;
  display: flex;
}
body main .attraction_page .attraction_page_top_content .attraction_page_tour .attraction_page_tour_block .attraction_page_tour_block_input .cash div {
  display: flex;
  font-weight: 500;
  font-size: 16px;
  line-height: 13px;
}
body main .attraction_page .attraction_page_top_content .attraction_page_tour .attraction_page_tour_block .attraction_page_tour_block_input .cash div #price {
  font-weight: 500;
  font-size: 16px;
  line-height: 13px;
}
body main .attraction_page .attraction_page_top_content .attraction_page_tour .attraction_page_tour_block .attraction_page_tour_block_booking_btn {
  width: 154px;
  height: 36x;
  background: #448899;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px 20px;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 19px;
  line-height: 16px;
  border: none;
}
body main .attraction_page .hr {
  max-width: 1200px;
  margin: 0 auto;
  border: 1px solid #E8E8E8;
}
@media (max-width: 1200px) {
  body main .attraction_page .hr {
    width: 95vw;
  }
}
@media (max-width: 1000px) {
  body main .attraction_page .hr {
    width: 95vw;
  }
}
@media (max-width: 700px) {
  body main .attraction_page .hr {
    width: 95vw;
  }
}
@media (max-width: 360px) {
  body main .attraction_page .hr {
    width: 93%;
    margin-top: 10px;
  }
}
body main .attraction_page .attraction_page_btm {
  margin: 40px 10px 20px 20px;
  color: #666666;
  font-size: 16px;
  line-height: 20px;
}
@media (max-width: 360px) {
  body main .attraction_page .attraction_page_btm {
    margin: 40px 0 0 0;
    padding: 0 20px;
  }
}
body main .attraction_page .attraction_page_btm .attraction_page_btm_content {
  font-weight: 400;
  line-height: 30px;
}
body main .attraction_page .attraction_page_btm h4 {
  margin: 30px 0;
  font-weight: 700;
  line-height: 13px;
}
body main .attraction_page .attraction_page_btm h4 .attraction_page_btm_address {
  margin: 10px 0;
  font-weight: 400;
  line-height: 30px;
}
body main .attraction_page .attraction_page_btm h4 {
  margin: 30px 0;
  font-weight: 700;
  line-height: 13px;
}
body main .attraction_page .attraction_page_btm h4 .attraction_page_btm_traffic {
  margin: 10px 0;
  font-weight: 400;
  line-height: 30px;
}/*# sourceMappingURL=attraction.css.map */