* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Noto Sans TC";
  font-style: normal;
  text-decoration: none;
}

nav {
  width: 100%;
  height: 54px;
  position: fixed;
  top: 0;
  z-index: 2;
  background-color: white;
}
nav .nav-bar {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1200px) {
  nav .nav-bar {
    width: 90%;
  }
}
@media (max-width: 1000px) {
  nav .nav-bar {
    width: 90%;
  }
}
@media (max-width: 700px) {
  nav .nav-bar {
    width: 90%;
  }
}
@media (max-width: 360px) {
  nav .nav-bar {
    width: 95%;
  }
}
nav .nav-bar .nav-bar-left p {
  font-weight: 700;
  font-size: 30px;
  color: #448899;
  line-height: 34px;
  padding: 10px 0;
}
@media (max-width: 700px) {
  nav .nav-bar .nav-bar-left p {
    font-size: 24px;
  }
}
@media (max-width: 360px) {
  nav .nav-bar .nav-bar-left p {
    font-size: 24px;
  }
}
nav .nav-bar .nav-bar-right {
  display: flex;
}
nav .nav-bar .nav-bar-right p, nav .nav-bar .nav-bar-right .nav-signup {
  padding: 5px;
  font-weight: 500;
  font-size: 16px;
  line-height: 54px;
  color: #666666;
  padding: 0 10px;
}
@media (max-width: 360px) {
  nav .nav-bar .nav-bar-right p, nav .nav-bar .nav-bar-right .nav-signup {
    padding: 20px 10px;
    line-height: 13px;
  }
}
nav .nav-bar .nav-bar-right .nav-signout {
  display: none;
  padding: 5px;
  font-weight: 500;
  font-size: 16px;
  line-height: 54px;
  color: #666666;
  padding: 0 10px;
}
@media (max-width: 360px) {
  nav .nav-bar .nav-bar-right .nav-signout {
    padding: 20px 10px;
    line-height: 13px;
  }
}

main {
  width: 100%;
  margin-bottom: 100px;
  padding-top: 54px;
}
@media (max-width: 1200px) {
  main {
    padding-top: 40px;
  }
}
main .signinContainer {
  width: 340px;
  height: 275px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background: #ffffff;
  box-shadow: 0px 4px 60px #AAAAAA;
  border-radius: 6px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  position: fixed;
  z-index: 10;
}
main .signinContainer .borderTop {
  width: 340px;
  height: 10px;
  position: absolute;
  top: 0;
  background-image: linear-gradient(270deg, #337788 0%, #66AABB 100%);
  border-radius: 6px 6px 0 0;
  margin-bottom: 15px;
}
main .signinContainer .accountBox {
  padding: 30px 15px 15px 15px;
}
main .signinContainer .accountBox h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 15px;
  text-align: center;
  color: #666666;
}
main .signinContainer .accountBox .accountContent {
  display: flex;
  flex-direction: column;
}
main .signinContainer .accountBox .accountContent .email, main .signinContainer .accountBox .accountContent .password {
  width: 310px;
  height: 47px;
  font-weight: 500;
  font-size: 16px;
  line-height: 13px;
  padding: 10px;
  color: #757575;
  margin-bottom: 10px;
  border: 1px solid #CCCCCC;
  border-radius: 5px;
}
main .signinContainer .accountBox .accountContent .signin_emailStatus {
  font-weight: 500;
  font-size: 12px;
  color: #ff0707;
  text-align: start;
  margin: 0;
  line-height: 12px;
}
main .signinContainer .accountBox .signinBtn {
  width: 310px;
  height: 47px;
  text-align: center;
  color: #FFFFFF;
  font-weight: 400;
  background: #448899;
  border-radius: 5px;
  font-size: 19px;
  line-height: 16px;
  margin-bottom: 15px;
  border: none;
}
main .signinContainer .accountBox .signinStatus {
  font-weight: 500;
  font-size: 16px;
  color: #ff0707;
  text-align: center;
  margin: 0;
  line-height: 30px;
}
main .signinContainer .accountBox .signupToggle {
  font-weight: 500;
  font-size: 16px;
  color: #666666;
  text-align: center;
  margin: 0;
  line-height: 40px;
}
main .signinContainer .accountBox .signinXmark {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 27px;
  right: 17px;
  font-size: 1rem;
  font-weight: 200;
  color: #666666;
}
main .signupContainer {
  width: 340px;
  height: 332px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background: #ffffff;
  box-shadow: 0px 4px 60px #AAAAAA;
  border-radius: 6px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  position: fixed;
  z-index: 10;
}
main .signupContainer .borderTop {
  width: 340px;
  height: 10px;
  position: absolute;
  top: 0;
  background-image: linear-gradient(270deg, #337788 0%, #66AABB 100%);
  border-radius: 6px 6px 0 0;
}
main .signupContainer .accountBox {
  padding: 30px 15px 15px 15px;
}
main .signupContainer .accountBox h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 15px;
  text-align: center;
  color: #666666;
}
main .signupContainer .accountBox .accountContent {
  display: flex;
  flex-direction: column;
}
main .signupContainer .accountBox .accountContent .name, main .signupContainer .accountBox .accountContent .email, main .signupContainer .accountBox .accountContent .password {
  width: 310px;
  height: 47px;
  font-weight: 500;
  font-size: 16px;
  line-height: 13px;
  padding: 10px;
  color: #757575;
  margin-bottom: 10px;
  border: 1px solid #CCCCCC;
  border-radius: 5px;
}
main .signupContainer .accountBox .accountContent .signup_emailStatus {
  font-weight: 500;
  font-size: 12px;
  color: #ff0707;
  text-align: start;
  margin: 0;
  line-height: 12px;
}
main .signupContainer .accountBox .signupBtn {
  width: 310px;
  height: 47px;
  text-align: center;
  color: #FFFFFF;
  font-weight: 400;
  background: #448899;
  border-radius: 5px;
  font-size: 19px;
  line-height: 16px;
  margin-bottom: 15px;
  border: none;
}
main .signupContainer .accountBox .signupStatus {
  font-weight: 500;
  font-size: 16px;
  color: #ff0707;
  text-align: center;
  margin: 0;
  line-height: 30px;
}
main .signupContainer .accountBox .signinToggle {
  font-weight: 500;
  font-size: 16px;
  color: #666666;
  text-align: center;
  margin: 0;
  line-height: 35px;
}
main .signupContainer .accountBox .signupXmark {
  position: absolute;
  top: 27px;
  right: 17px;
  font-size: 1rem;
  font-weight: 200;
  color: #666666;
}
main .attractionPage {
  max-width: 1200px;
  margin: 0 auto;
}
@media (max-width: 1200px) {
  main .attractionPage {
    width: 100%;
  }
}
@media (max-width: 1000px) {
  main .attractionPage {
    width: 100%;
  }
}
@media (max-width: 700px) {
  main .attractionPage {
    width: 100%;
  }
}
@media (max-width: 360px) {
  main .attractionPage {
    padding-top: 0;
    width: 100%;
  }
}
main .attractionPage .pageTop {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 10px;
}
@media (max-width: 1000px) {
  main .attractionPage .pageTop {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    padding: 0px;
  }
}
@media (max-width: 700px) {
  main .attractionPage .pageTop {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0px;
  }
}
@media (max-width: 360px) {
  main .attractionPage .pageTop {
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin: 0 auto;
  }
}
main .attractionPage .pageTop .pageTopImg {
  width: 740px;
  height: 406px;
  overflow: hidden;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 1200px) {
  main .attractionPage .pageTop .pageTopImg {
    width: 100%;
    height: 406px;
    margin-left: 15px;
  }
}
@media (max-width: 1000px) {
  main .attractionPage .pageTop .pageTopImg {
    width: 100%;
    height: 406px;
    margin-left: 0px;
  }
}
@media (max-width: 700px) {
  main .attractionPage .pageTop .pageTopImg {
    width: 100%;
    height: 440px;
    margin-left: 0px;
  }
}
@media (max-width: 360px) {
  main .attractionPage .pageTop .pageTopImg {
    width: 360px;
    height: 350px;
    margin-left: 0px;
  }
}
main .attractionPage .pageTop .pageTopImg .imgBoxes {
  width: 100%;
  height: 100%;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
  display: block;
}
@media (max-width: 1200px) {
  main .attractionPage .pageTop .pageTopImg .imgBoxes {
    display: block;
  }
}
@media (max-width: 1000px) {
  main .attractionPage .pageTop .pageTopImg .imgBoxes {
    width: 100%;
    height: 100%;
    display: block;
  }
}
@media (max-width: 700px) {
  main .attractionPage .pageTop .pageTopImg .imgBoxes {
    width: 100%;
    display: block;
  }
}
main .attractionPage .pageTop .pageTopImg .imgBoxes .swiperImg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}
@media (max-width: 1200px) {
  main .attractionPage .pageTop .pageTopImg .imgBoxes .swiperImg {
    width: 100%;
  }
}
@media (max-width: 1000px) {
  main .attractionPage .pageTop .pageTopImg .imgBoxes .swiperImg {
    width: 100%;
  }
}
@media (max-width: 700px) {
  main .attractionPage .pageTop .pageTopImg .imgBoxes .swiperImg {
    width: 100%;
    margin: 0 auto;
  }
}
@media (max-width: 360px) {
  main .attractionPage .pageTop .pageTopImg .imgBoxes .swiperImg {
    width: 100%;
    margin: 0 auto;
  }
}
main .attractionPage .pageTop .pageTopImg .imgArrow {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
}
main .attractionPage .pageTop .pageTopImg .imgArrow .imgArrowBlock {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: white;
  opacity: 0.6;
  font-size: 1.5rem;
  line-height: 36px;
  justify-content: center;
  position: relative;
}
main .attractionPage .pageTop .pageTopImg .imgArrow .imgArrowBlock i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
main .attractionPage .pageTop .pageTopImg .swiper-pagination {
  width: 100%;
  height: 15px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  position: absolute;
  bottom: 12px;
}
main .attractionPage .pageTop .pageTopImg .swiper-pagination .pagination {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 4px white;
  background-color: white;
  padding: 3px;
  margin-right: 8px;
}
main .attractionPage .pageTop .pageTopTour {
  width: 50vw;
  margin: 10px 10px 20px 20px;
}
@media (max-width: 1000px) {
  main .attractionPage .pageTop .pageTopTour {
    margin-top: 20px;
  }
}
@media (max-width: 360px) {
  main .attractionPage .pageTop .pageTopTour {
    width: 100vw;
    padding: 10px;
    margin: 0px;
  }
}
main .attractionPage .pageTop .pageTopTour .pageTopTourTitle {
  display: flex;
  flex-direction: column;
  color: #666666;
}
main .attractionPage .pageTop .pageTopTour .pageTopTourTitle h2 {
  font-weight: 700;
  font-size: 24px;
}
main .attractionPage .pageTop .pageTopTour .pageTopTourTitle .at {
  display: flex;
  margin-top: 15px;
}
main .attractionPage .pageTop .pageTopTour .pageTopTourTitle .at .category, main .attractionPage .pageTop .pageTopTour .pageTopTourTitle .at .mrt {
  font-weight: 500;
  font-size: 16px;
}
main .attractionPage .pageTop .pageTopTour .pageTopTourBooking {
  height: 302px;
  background: #E8E8E8;
  border-radius: 5px;
  margin-top: 20px;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  color: #666666;
  margin-bottom: 41px;
}
@media (max-width: 1200px) {
  main .attractionPage .pageTop .pageTopTour .pageTopTourBooking {
    width: 50vw;
    height: 340px;
  }
}
@media (max-width: 1000px) {
  main .attractionPage .pageTop .pageTopTour .pageTopTourBooking {
    width: 90vw;
    height: 310px;
  }
}
@media (max-width: 700px) {
  main .attractionPage .pageTop .pageTopTour .pageTopTourBooking {
    width: 100vw;
    height: 320px;
  }
}
@media (max-width: 360px) {
  main .attractionPage .pageTop .pageTopTour .pageTopTourBooking {
    width: 100vw;
    height: 320px;
    margin: 15px 0;
  }
}
main .attractionPage .pageTop .pageTopTour .pageTopTourBooking h4 {
  font-weight: 700;
  font-size: 16px;
  line-height: 13px;
  margin-bottom: 24px;
}
@media (max-width: 360px) {
  main .attractionPage .pageTop .pageTopTour .pageTopTourBooking h4 {
    margin-bottom: 20px;
  }
}
main .attractionPage .pageTop .pageTopTour .pageTopTourBooking p {
  font-weight: 500;
  font-size: 16px;
  line-height: 13px;
  margin-bottom: 24px;
}
@media (max-width: 1200px) {
  main .attractionPage .pageTop .pageTopTour .pageTopTourBooking p {
    line-height: 26px;
    margin-bottom: 10px;
  }
}
@media (max-width: 1000px) {
  main .attractionPage .pageTop .pageTopTour .pageTopTourBooking p {
    line-height: 26px;
  }
}
@media (max-width: 360px) {
  main .attractionPage .pageTop .pageTopTour .pageTopTourBooking p {
    line-height: 26px;
    margin-bottom: 10px;
  }
}
main .attractionPage .pageTop .pageTopTour .pageTopTourBooking .date {
  margin-bottom: 20px;
}
main .attractionPage .pageTop .pageTopTour .pageTopTourBooking .date label {
  font-weight: 700;
  font-size: 16px;
  line-height: 13px;
}
main .attractionPage .pageTop .pageTopTour .pageTopTourBooking .date input {
  width: 193px;
  height: 35px;
  padding: 5px 10px;
}
main .attractionPage .pageTop .pageTopTour .pageTopTourBooking .time {
  margin-bottom: 22px;
}
@media (max-width: 360px) {
  main .attractionPage .pageTop .pageTopTour .pageTopTourBooking .time {
    margin-bottom: 15px;
  }
}
main .attractionPage .pageTop .pageTopTour .pageTopTourBooking .time div {
  display: flex;
  justify-content: start;
  align-items: center;
}
main .attractionPage .pageTop .pageTopTour .pageTopTourBooking .time div label {
  font-weight: 700;
  font-size: 16px;
  line-height: 13px;
}
main .attractionPage .pageTop .pageTopTour .pageTopTourBooking .time div #morning, main .attractionPage .pageTop .pageTopTour .pageTopTourBooking .time div #afternoon {
  width: 18px;
  height: 18px;
  font-weight: 500;
  font-size: 16x;
  line-height: 13px;
  accent-color: #448899;
  margin-right: 4px;
}
main .attractionPage .pageTop .pageTopTour .pageTopTourBooking .cash {
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 16px;
  line-height: 13px;
  margin-right: 10px;
  display: flex;
}
@media (max-width: 360px) {
  main .attractionPage .pageTop .pageTopTour .pageTopTourBooking .cash {
    margin-bottom: 15px;
  }
}
main .attractionPage .pageTop .pageTopTour .pageTopTourBooking .cash .price {
  font-weight: 500;
  font-size: 16px;
  line-height: 13px;
}
main .attractionPage .pageTop .pageTopTour .pageTopTourBooking .readyBooking {
  width: 154px;
  height: 36x;
  background: #448899;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px 20px;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 19px;
  line-height: 16px;
  border: none;
}
main .attractionPage .hr {
  max-width: 1200px;
  margin: 0 auto;
  border: 1px solid #E8E8E8;
}
@media (max-width: 1200px) {
  main .attractionPage .hr {
    width: 95vw;
  }
}
@media (max-width: 1000px) {
  main .attractionPage .hr {
    width: 95vw;
  }
}
@media (max-width: 700px) {
  main .attractionPage .hr {
    width: 95vw;
  }
}
@media (max-width: 360px) {
  main .attractionPage .hr {
    width: 93%;
    margin-top: 10px;
  }
}
main .attractionPage .pageBtm {
  margin: 40px 10px 20px 20px;
  color: #666666;
  font-size: 16px;
  line-height: 20px;
}
@media (max-width: 360px) {
  main .attractionPage .pageBtm {
    margin: 40px 0 0 0;
    padding: 0 20px;
  }
}
main .attractionPage .pageBtm .content {
  font-weight: 400;
  line-height: 30px;
}
main .attractionPage .pageBtm h4 {
  margin: 30px 0;
  font-weight: 700;
  line-height: 13px;
}
main .attractionPage .pageBtm h4 .address {
  margin: 10px 0;
  font-weight: 400;
  line-height: 30px;
}
main .attractionPage .pageBtm h4 {
  margin: 30px 0;
  font-weight: 700;
  line-height: 13px;
}
main .attractionPage .pageBtm h4 .traffic {
  margin: 10px 0;
  font-weight: 400;
  line-height: 30px;
}

footer {
  width: 100%;
  height: 104px;
  background: #757575;
}
footer p {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 16px;
  line-height: 104px;
  text-align: center;
}/*# sourceMappingURL=attraction.css.map */