* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Noto Sans TC";
  font-style: normal;
  text-decoration: none;
}

body main {
  width: 100%;
  margin-bottom: 100px;
  padding-top: 54px;
}
@media (max-width: 1200px) {
  body main {
    padding-top: 40px;
  }
}
body main .attractionPage {
  max-width: 1200px;
  margin: 0 auto;
}
@media (max-width: 1200px) {
  body main .attractionPage {
    width: 100%;
  }
}
@media (max-width: 1000px) {
  body main .attractionPage {
    width: 100%;
  }
}
@media (max-width: 700px) {
  body main .attractionPage {
    width: 100%;
  }
}
@media (max-width: 360px) {
  body main .attractionPage {
    padding-top: 0;
    width: 100%;
  }
}
body main .attractionPage .pageTop {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 10px;
}
@media (max-width: 1000px) {
  body main .attractionPage .pageTop {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    padding: 0px;
  }
}
@media (max-width: 700px) {
  body main .attractionPage .pageTop {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0px;
  }
}
@media (max-width: 360px) {
  body main .attractionPage .pageTop {
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin: 0 auto;
  }
}
body main .attractionPage .pageTop .pageTopImg {
  width: 740px;
  height: 406px;
  overflow: hidden;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 1200px) {
  body main .attractionPage .pageTop .pageTopImg {
    width: 100%;
    height: 406px;
    margin-left: 15px;
  }
}
@media (max-width: 1000px) {
  body main .attractionPage .pageTop .pageTopImg {
    width: 100%;
    height: 406px;
    margin-left: 0px;
  }
}
@media (max-width: 700px) {
  body main .attractionPage .pageTop .pageTopImg {
    width: 100%;
    height: 440px;
    margin-left: 0px;
  }
}
@media (max-width: 360px) {
  body main .attractionPage .pageTop .pageTopImg {
    width: 360px;
    height: 350px;
    margin-left: 0px;
  }
}
body main .attractionPage .pageTop .pageTopImg .imgBoxes {
  width: 100%;
  height: 100%;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
  display: block;
}
@media (max-width: 1200px) {
  body main .attractionPage .pageTop .pageTopImg .imgBoxes {
    display: block;
  }
}
@media (max-width: 1000px) {
  body main .attractionPage .pageTop .pageTopImg .imgBoxes {
    width: 100%;
    height: 100%;
    display: block;
  }
}
@media (max-width: 700px) {
  body main .attractionPage .pageTop .pageTopImg .imgBoxes {
    width: 100%;
    display: block;
  }
}
body main .attractionPage .pageTop .pageTopImg .imgBoxes .swiperImg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}
@media (max-width: 1200px) {
  body main .attractionPage .pageTop .pageTopImg .imgBoxes .swiperImg {
    width: 100%;
  }
}
@media (max-width: 1000px) {
  body main .attractionPage .pageTop .pageTopImg .imgBoxes .swiperImg {
    width: 100%;
  }
}
@media (max-width: 700px) {
  body main .attractionPage .pageTop .pageTopImg .imgBoxes .swiperImg {
    width: 100%;
    margin: 0 auto;
  }
}
@media (max-width: 360px) {
  body main .attractionPage .pageTop .pageTopImg .imgBoxes .swiperImg {
    width: 100%;
    margin: 0 auto;
  }
}
body main .attractionPage .pageTop .pageTopImg .imgArrow {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
}
body main .attractionPage .pageTop .pageTopImg .imgArrow .imgArrowBlock {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: white;
  opacity: 0.6;
  font-size: 1.5rem;
  line-height: 36px;
  justify-content: center;
  position: relative;
}
body main .attractionPage .pageTop .pageTopImg .imgArrow .imgArrowBlock i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
body main .attractionPage .pageTop .pageTopImg .swiper-pagination {
  width: 100%;
  height: 15px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  position: absolute;
  bottom: 12px;
}
body main .attractionPage .pageTop .pageTopImg .swiper-pagination .pagination {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 4px white;
  background-color: white;
  padding: 3px;
  margin-right: 8px;
}
body main .attractionPage .pageTop .pageTopTour {
  width: 50vw;
  margin: 10px 10px 20px 20px;
}
@media (max-width: 1000px) {
  body main .attractionPage .pageTop .pageTopTour {
    margin-top: 20px;
  }
}
@media (max-width: 360px) {
  body main .attractionPage .pageTop .pageTopTour {
    width: 100vw;
    padding: 10px;
    margin: 0px;
  }
}
body main .attractionPage .pageTop .pageTopTour .pageTopTourTitle {
  display: flex;
  flex-direction: column;
  color: #666666;
}
@media (max-width: 360px) {
  body main .attractionPage .pageTop .pageTopTour .pageTopTourTitle {
    width: 100%;
  }
}
body main .attractionPage .pageTop .pageTopTour .pageTopTourTitle h2 {
  font-weight: 700;
  font-size: 24px;
}
body main .attractionPage .pageTop .pageTopTour .pageTopTourTitle .at {
  display: flex;
  margin-top: 15px;
}
body main .attractionPage .pageTop .pageTopTour .pageTopTourTitle .at .category, body main .attractionPage .pageTop .pageTopTour .pageTopTourTitle .at .mrt {
  font-weight: 500;
  font-size: 16px;
}
body main .attractionPage .pageTop .pageTopTour .pageTopTourBooking {
  height: 310px;
  background: #E8E8E8;
  border-radius: 5px;
  margin-top: 20px;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  color: #666666;
  margin-bottom: 40px;
}
@media (max-width: 1200px) {
  body main .attractionPage .pageTop .pageTopTour .pageTopTourBooking {
    width: 50vw;
    height: 340px;
  }
}
@media (max-width: 1000px) {
  body main .attractionPage .pageTop .pageTopTour .pageTopTourBooking {
    width: 90vw;
    height: 310px;
  }
}
@media (max-width: 700px) {
  body main .attractionPage .pageTop .pageTopTour .pageTopTourBooking {
    height: 320px;
  }
}
@media (max-width: 360px) {
  body main .attractionPage .pageTop .pageTopTour .pageTopTourBooking {
    width: 100vw;
    height: 320px;
    margin: 15px 0;
  }
}
body main .attractionPage .pageTop .pageTopTour .pageTopTourBooking h4 {
  font-weight: 700;
  font-size: 16px;
  line-height: 13px;
  margin-bottom: 24px;
}
@media (max-width: 360px) {
  body main .attractionPage .pageTop .pageTopTour .pageTopTourBooking h4 {
    margin-bottom: 20px;
  }
}
body main .attractionPage .pageTop .pageTopTour .pageTopTourBooking p {
  font-weight: 500;
  font-size: 16px;
  line-height: 13px;
  margin-bottom: 24px;
}
@media (max-width: 1200px) {
  body main .attractionPage .pageTop .pageTopTour .pageTopTourBooking p {
    line-height: 26px;
    margin-bottom: 10px;
  }
}
@media (max-width: 1000px) {
  body main .attractionPage .pageTop .pageTopTour .pageTopTourBooking p {
    line-height: 26px;
  }
}
@media (max-width: 360px) {
  body main .attractionPage .pageTop .pageTopTour .pageTopTourBooking p {
    line-height: 26px;
    margin-bottom: 10px;
  }
}
body main .attractionPage .pageTop .pageTopTour .pageTopTourBooking .booking_div {
  display: flex;
  margin-bottom: 24px;
}
body main .attractionPage .pageTop .pageTopTour .pageTopTourBooking .booking_div label {
  font-weight: 700;
  font-size: 16px;
  line-height: 13px;
}
body main .attractionPage .pageTop .pageTopTour .pageTopTourBooking .booking_div label #date {
  width: 193px;
  height: 35px;
  padding: 5px 10px;
}
body main .attractionPage .pageTop .pageTopTour .pageTopTourBooking .booking_div {
  margin-bottom: 24px;
  display: flex;
  justify-content: start;
  align-items: center;
}
body main .attractionPage .pageTop .pageTopTour .pageTopTourBooking .booking_div label {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}
body main .attractionPage .pageTop .pageTopTour .pageTopTourBooking .booking_div label #morning, body main .attractionPage .pageTop .pageTopTour .pageTopTourBooking .booking_div label #afternoon {
  width: 22px;
  height: 22px;
  font-size: 16px;
  accent-color: #448899;
  margin: auto 4px;
  vertical-align: middle;
  line-height: 22px;
}
body main .attractionPage .pageTop .pageTopTour .pageTopTourBooking .booking_div {
  display: flex;
  line-height: 13px;
  margin-bottom: 15px;
}
body main .attractionPage .pageTop .pageTopTour .pageTopTourBooking .booking_div .cash {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 16px;
  line-height: 13px;
  margin-right: 10px;
  display: flex;
}
body main .attractionPage .pageTop .pageTopTour .pageTopTourBooking .booking_div .cash div {
  display: flex;
  font-weight: 500;
  font-size: 16px;
  line-height: 13px;
}
body main .attractionPage .pageTop .pageTopTour .pageTopTourBooking .booking_div .cash div #price {
  font-weight: 500;
  font-size: 16px;
  line-height: 13px;
}
body main .attractionPage .pageTop .pageTopTour .pageTopTourBooking .readyBooking {
  width: 154px;
  height: 36x;
  background: #448899;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px 20px;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 19px;
  line-height: 16px;
  border: none;
}
body main .attractionPage .hr {
  max-width: 1200px;
  margin: 0 auto;
  border: 1px solid #E8E8E8;
}
@media (max-width: 1200px) {
  body main .attractionPage .hr {
    width: 95vw;
  }
}
@media (max-width: 1000px) {
  body main .attractionPage .hr {
    width: 95vw;
  }
}
@media (max-width: 700px) {
  body main .attractionPage .hr {
    width: 95vw;
  }
}
@media (max-width: 360px) {
  body main .attractionPage .hr {
    width: 93%;
    margin-top: 10px;
  }
}
body main .attractionPage .pageBtm {
  margin: 40px 10px 20px 20px;
  color: #666666;
  font-size: 16px;
  line-height: 20px;
}
@media (max-width: 360px) {
  body main .attractionPage .pageBtm {
    margin: 40px 0 0 0;
    padding: 0 20px;
  }
}
body main .attractionPage .pageBtm .content {
  font-weight: 400;
  line-height: 30px;
}
body main .attractionPage .pageBtm h4 {
  margin: 30px 0;
  font-weight: 700;
  line-height: 13px;
}
body main .attractionPage .pageBtm h4 .address {
  margin: 10px 0;
  font-weight: 400;
  line-height: 30px;
}
body main .attractionPage .pageBtm h4 {
  margin: 30px 0;
  font-weight: 700;
  line-height: 13px;
}
body main .attractionPage .pageBtm h4 .traffic {
  margin: 10px 0;
  font-weight: 400;
  line-height: 30px;
}/*# sourceMappingURL=attraction.css.map */