*{
    box-sizing:border-box;          
    margin:0;                       
    padding:0;                      
    font-family: 'Noto Sans TC';    
    font-style: normal;      
    text-decoration: none;  
    ol, ul, li, menu{
    list-style: none;
    border: none;
    outline: none;
}    
}

@mixin rwdFrist{
    @media(max-width:1250px){
      @content;
    }
}
@mixin rwdSecond{
    @media(max-width:800px){
      @content;
    }
}
@mixin rwdThird{
    @media(max-width:500px){
      @content;
    }
}
@mixin mobile{
    @media(max-width:360px){
      @content;
    }
}

body{
    nav{
        width:100%;
        height:54px;
        //navbar 固定在頂部
        position: fixed;
        top:0;
        z-index: 2;
        background-color: white;
        .navbar{
            max-width:1200px;
            margin: auto;
            display:flex;
            justify-content: 
            space-between;                
            @include rwdFrist{
                width:90%;
            }
            @include rwdSecond{
                width:90%;
            }
            @include rwdThird{
                width:92%;
            }
            @include mobile{
                width:90%;
            }
            .navbar_title{       
                p{ 
                    padding: 10px 0;
                    font-size: 30px;
                    font-weight: 700;
                    color:#448899; 
                    @include rwdThird{
                        font-size: 24px;
                    }
                    @include mobile{
                        font-size: 24px;
                    }
                }
            }
            .navbar_mainmenu{         
                display:flex; 
               p,.navbar_signin_signup_btn{
                    padding: 5px;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 54px;
                    color: #666666;
                    padding: 0 10px;
                    @include mobile{
                        padding: 20px 10px; 
                        line-height: 13px;
                    }          
                }
                .navbar_signout_btn{
                    display: none;
                    padding: 5px;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 54px;
                    color: #666666;
                    padding: 0 10px;
                    @include mobile{
                        padding: 20px 10px; 
                        line-height: 13px;
                    }          
                } 
            }
        }
    }

    //signup member account_number
    .navbar_signup_dialog{
        width: 340px;
        height: 332px;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        background: #ffffff;
        box-shadow: 0px 4px 60px #AAAAAA;
        border-radius: 6px;
        top: 54px;
        left: 50%;
        transform: translate(-50%,0);
        display: none;
        position: fixed;
        z-index: 10;
        .navbar_signup_style_bgimage{
            width: 340px;
            height: 10px;
            position: absolute;
            top: 0;
            background-image: linear-gradient(270deg, #337788 0%, #66AABB 100%)  ;
            border-radius: 6px 6px 0 0 ;
        }
        .navbar_signup_style_textbox{
            padding: 30px 15px 15px 15px;
            h3{
                font-weight: 700;
                font-size: 24px;
                line-height: 24px; 
                margin-bottom: 15px; 
                text-align: center;
                color: #666666;
            }
            .navbar_signup_account_content{
                display: flex;
                flex-direction: column;
                .name,.email,.password{
                    width: 310px;
                    height: 47px;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 13px;
                    padding: 10px;
                    color: #757575;
                    margin-bottom: 10px;
                    border: 1px solid #CCCCCC;
                    border-radius: 5px;
                }
                .navbar_signup_email_status{
                    font-weight: 500;
                    font-size: 12px;
                    color: #ff0707;
                    text-align: start;
                    margin: 0;
                    line-height: 16px;
                }
            }      
            .navbar_signup_btn{
                width: 310px;
                height: 47px;
                text-align: center;
                color: #FFFFFF;
                font-weight: 400;
                background: #448899;
                border-radius: 5px;
                font-size: 19px;
                line-height: 16px;
                margin-bottom: 15px;
                border: none;
            }
            .navbar_signup_status{
                font-weight: 500;
                font-size: 16px;
                color: #ff0707;
                text-align: center;
                margin: 0;
                line-height: 30px;
            }
            .navbar_signin_toggle{
                font-weight: 500;
                font-size: 16px;
                color: #666666;
                text-align: center;
                margin: 0;
                line-height: 35px;
            }
            .navbar_signup_xmark{
                position: absolute;
                top: 27px;
                right: 17px;
                font-size: 1rem;
                font-weight: 200;
                color: #666666;
            }
        }
    }
    
    //signin member account_number
    .navbar_signin_dialog{
        width: 340px;
        height: 275px;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        background: #ffffff;
        box-shadow: 0px 4px 60px #AAAAAA;
        border-radius: 6px;
        position: relative;
        top: 54px;
        left: 50%;
        transform: translate(-50%,0);
        z-index: 10;
        display: none;
        position: fixed;
        z-index: 10;
        .navbar_signin_style_bgimage{
            width: 340px;
            height: 10px;
            position: absolute;
            top: 0;
            background-image: linear-gradient(270deg, #337788 0%, #66AABB 100%) ;
            border-radius: 6px 6px 0 0 ;
            margin-bottom: 15px;
        }
        .navbar_signin_style_textbox{
            padding: 30px 15px 15px 15px;
            h3{
                font-weight: 700;
                font-size: 24px;
                line-height: 24px; 
                margin-bottom: 15px; 
                text-align: center;
                color: #666666;
            }
            .navbar_signin_account_content{
                display: flex;
                flex-direction: column;
                .email,.password{
                    width: 310px;
                    height: 47px;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 13px;
                    padding: 10px;
                    color: #757575;
                    margin-bottom: 10px;
                    border: 1px solid #CCCCCC;
                    border-radius: 5px;
                }
                .navbar_signin_email_status{
                    font-weight: 500;
                    font-size: 12px;
                    color: #ff0707;
                    text-align: start;
                    margin: 0;
                    line-height: 16px;
                }
            }     
            .navbar_signin_btn{
                width: 310px;
                height: 47px;
                text-align: center;
                color: #FFFFFF;
                font-weight: 400;
                background: #448899;
                border-radius: 5px;
                font-size: 19px;
                line-height: 16px;
                margin-bottom: 15px;
                border: none;
            }
            .navbar_signin_status{
                font-weight: 500;
                font-size: 16px;
                color: #ff0707;
                text-align: center;
                margin: 0;
                line-height: 30px;
            }
            .navbar_signup_toggle{
                font-weight: 500;
                font-size: 16px;
                color: #666666;
                text-align: center;
                margin: 0;
                line-height: 40px;
            }
            .navbar_signin_xmark{
                position: absolute;
                width: 16px;
                height: 16px;
                top: 27px;
                right: 17px;
                font-size: 1rem;
                font-weight: 200;
                color: #666666;
            }
        }
    }

    

    footer{
        width: 100%;
        height: 104px;
        background: #757575;
        p{
        color: #FFFFFF;
        font-weight: 700;
        font-size: 16px;
        line-height: 104px;
        text-align: center;
        }
    }
    // no reservation on booking page default display:none 
    .footer_booking_page_no_reservation{
        width: 100%;
        height: 90vh;
        background: #757575;
        display: none;
        p{
            color: #FFFFFF;
            font-weight: 700;
            font-size: 16px;
            line-height: 104px;
            text-align: center;
            }
    }       
}