* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Noto Sans TC";
  font-style: normal;
  text-decoration: none;
  border: none;
  outline: none;
}

#main .booking_page {
  width: 70%;
  margin: 0 auto;
  position: relative;
}
@media (max-width: 800px) {
  #main .booking_page {
    width: 100%;
    height: 100%;
    padding: 10px;
  }
}
@media (max-width: 360px) {
  #main .booking_page {
    width: 100%;
    padding: 10px;
  }
}
#main .booking_page .icon_delete {
  width: 30px;
  height: 30xp;
  position: absolute;
  top: 43px;
  right: 15px;
}
@media (max-width: 800px) {
  #main .booking_page .icon_delete {
    top: 660px;
    right: 20px;
  }
}
@media (max-width: 360px) {
  #main .booking_page .icon_delete {
    top: 570px;
    right: 15px;
  }
}
#main .booking_page .booking_page_top {
  width: 100%;
  margin-top: 100px;
}
@media (max-width: 360px) {
  #main .booking_page .booking_page_top {
    margin-top: 80px;
  }
}
#main .booking_page .booking_page_top .page_top_title {
  display: flex;
  font-weight: 700;
  font-size: 19px;
  line-height: 16px;
  margin-bottom: 35px;
  color: #666666;
}
#main .booking_page .booking_page_top .page_top_content {
  width: 100%;
  display: flex;
}
@media (max-width: 800px) {
  #main .booking_page .booking_page_top .page_top_content {
    display: block;
  }
}
@media (max-width: 360px) {
  #main .booking_page .booking_page_top .page_top_content {
    display: flex;
    flex-direction: column;
  }
}
#main .booking_page .booking_page_top .page_top_content .page_top_content_img {
  width: 266px;
  height: 200px;
}
@media (max-width: 800px) {
  #main .booking_page .booking_page_top .page_top_content .page_top_content_img {
    width: 100%;
    height: 45vh;
  }
}
@media (max-width: 360px) {
  #main .booking_page .booking_page_top .page_top_content .page_top_content_img {
    width: 340px;
    height: 256px;
  }
}
#main .booking_page .booking_page_top .page_top_content .page_top_content_img .booking_image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#main .booking_page .booking_page_top .page_top_content .page_top_content_text {
  margin-left: 22px;
}
@media (max-width: 800px) {
  #main .booking_page .booking_page_top .page_top_content .page_top_content_text {
    margin-left: 0px;
    margin-top: 20px;
  }
}
@media (max-width: 360px) {
  #main .booking_page .booking_page_top .page_top_content .page_top_content_text {
    margin-top: 20px;
    margin-left: 0px;
  }
}
#main .booking_page .booking_page_top .page_top_content .page_top_content_text div {
  display: flex;
}
#main .booking_page .booking_page_top .page_top_content .page_top_content_text div h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 13px;
  color: #448899;
  margin-bottom: 20px;
}
#main .booking_page .booking_page_top .page_top_content .page_top_content_text p {
  font-weight: 700;
  font-size: 16px;
  line-height: 13px;
  color: #666666;
  margin: 10px 0;
}
#main .booking_page .booking_page_top .page_top_content .page_top_content_text .p_style {
  font-weight: 500;
  font-size: 16px;
  line-height: 13px;
  color: #666666;
  margin: 10px 0;
}
#main .booking_page hr {
  width: 100%;
  margin-top: 40px;
  border: 1px solid #E8E8E8;
}
#main .booking_page .page_btm .page_btm_connect {
  width: 100%;
  margin-top: 44px;
}
#main .booking_page .page_btm .page_btm_connect h3 {
  font-weight: 700;
  font-size: 19px;
  line-height: 16px;
  color: #666666;
  margin-bottom: 31px;
}
#main .booking_page .page_btm .page_btm_connect .page_btm_connect_input {
  display: flex;
  flex-direction: column;
}
#main .booking_page .page_btm .page_btm_connect .page_btm_connect_input label {
  display: flex;
  margin-bottom: 29px;
  font-weight: 500;
  font-size: 16px;
  line-height: 38px;
  color: #666666;
}
#main .booking_page .page_btm .page_btm_connect .page_btm_connect_input label input {
  width: 200px;
  height: 38px;
  background: #FFFFFF;
  border: 1px solid #E8E8E8;
  border-radius: 5px;
  padding: 10px;
}
#main .booking_page .page_btm .page_btm_connect p {
  font-weight: 700;
  font-size: 16px;
  line-height: 13px;
  color: #666666;
}
@media (max-width: 800px) {
  #main .booking_page .page_btm .page_btm_connect p {
    line-height: 25px;
  }
}
@media (max-width: 360px) {
  #main .booking_page .page_btm .page_btm_connect p {
    line-height: 25px;
  }
}
#main .booking_page .page_btm_creditCard {
  margin-top: 44px;
}
#main .booking_page .page_btm_creditCard h3 {
  font-weight: 700;
  font-size: 19px;
  line-height: 16px;
  color: #666666;
}
#main .booking_page .page_btm_creditCard .page_btm_creditCard_input {
  margin-top: 31px;
}
#main .booking_page .page_btm_creditCard .page_btm_creditCard_input .tpfield_container {
  display: flex;
  margin-bottom: 29px;
  font-weight: 500;
  font-size: 16px;
  line-height: 38px;
  color: #666666;
}
#main .booking_page .page_btm_creditCard .page_btm_creditCard_input .tpfield_container .tpfield {
  width: 200px;
  height: 38px;
  background: #FFFFFF;
  border: 1px solid #E8E8E8;
  border-radius: 5px;
  padding: 10px;
}
#main .booking_page .page_btm_creditCard .page_btm_creditCard_input p {
  font-weight: 700;
  font-size: 16px;
  line-height: 13px;
  color: #666666;
}
#main .booking_page .page_checkout {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
#main .booking_page .page_checkout div {
  display: flex;
  font-weight: 700;
  font-size: 16px;
  line-height: 13px;
  color: #666666;
  margin-top: 43px;
}
#main .booking_page .page_checkout button {
  width: 173px;
  height: 36px;
  background: #448899;
  border-radius: 5px;
  border: none;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 19px;
  line-height: 16px;
  margin-top: 26px;
  margin-bottom: 62px;
}
#main .other_booking_page {
  width: 70%;
  margin: 100px auto;
  position: relative;
  display: none;
}
@media (max-width: 360px) {
  #main .other_booking_page {
    width: 100%;
    padding: 10px;
  }
}
#main .other_booking_page .page_top_title {
  display: flex;
  font-weight: 700;
  font-size: 19px;
  line-height: 16px;
  margin-bottom: 40px;
  color: #666666;
}
#main .other_booking_page p {
  font-weight: 500;
  font-size: 16px;
  line-height: 13px;
  color: #666666;
}
#main .other_booking_page p a {
  font-weight: 500;
  font-size: 16px;
  line-height: 13px;
  color: #2f2f2f;
}
#main .other_booking_page p a:hover {
  font-size: 18px;
  color: #666666;
}/*# sourceMappingURL=booking.css.map */