*{
    box-sizing:border-box;          
    margin:0;                       
    padding:0;                      
    font-family: 'Noto Sans TC';    
    font-style: normal;      
    text-decoration: none;   
    border: none;
    outline: none;    
}

@mixin rwdFrist{
    @media(max-width:1250px){
      @content;
    }
}
@mixin rwdSecond{
    @media(max-width:800px){
      @content;
    }
}
@mixin rwdThird{
    @media(max-width:500px){
      @content;
    }
}
@mixin mobile{
    @media(max-width:360px){
      @content;
    }
}
// position:absolute; left:423px; top:261px; width:227px; height:20px; z-index:1

// #loading{
//     width: 2000px;
//     height: 2000px;
//     position:absolute;
//     background: rgb(255, 255, 255);
//     color: #983131;
//     left:0;
//     top:0; 
//     // width:227px;
//     // height:20px;
//     z-index:1;
// }

#main{
    .booking_page{
        width: 70%;
        margin: 0 auto;
        position: relative;
        // display: none;
        @include rwdSecond{
            width:100%;
            height: 100%;
            padding: 10px;
        }
        @include mobile{
            width:100%;
            padding: 10px;
        }
        .icon_delete{
            width: 30px;
            height: 30xp;
            position: absolute;
            top:43px;
            right:15px;
            @include rwdSecond {
                top:600px;
                right: 20px;
            }
            @include mobile{
                top:580px;
                right: 15px;
            }
        }
        .booking_page_top{
            width: 100%;
            margin-top: 100px;
            @include rwdSecond{
                margin-top:35px;
            }
            @include mobile{
                margin-top: 80px;
            }
            .page_top_title{
                display: flex;
                font-weight: 700;
                font-size: 19px;
                line-height: 16px;
                margin-bottom:35px ;
                color: #666666;
            }
            .page_top_content{
                width: 100%;
                display: flex;
                @include rwdSecond{
                    display: block;
                }
                @include mobile{
                    display: flex;
                    flex-direction: column;
                }
             .page_top_content_img{
                width: 266px;
                height: 200px;
                @include rwdSecond{
                    width: 100%;
                    height: 45vh;
                }
                @include mobile{
                    width: 340px;
                    height: 256px;
                }
                .booking_image{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
             }
             .page_top_content_text{
                margin-left:22px;
                @include rwdSecond {
                    margin-left:0px;
                    margin-top: 20px;
                }
                @include mobile{
                    margin-top: 20px;
                    margin-left:0px;
                }
                div{
                    display: flex;
                    h2{
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 13px;
                    color: #448899;
                    margin-bottom: 20px;
                }}
                
                p{
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 13px;
                    color: #666666;
                    margin: 10px 0 ;  
                }.p_style{
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 13px;
                    color: #666666;
                    margin: 10px 0 ;
                    }
             }
            }   
        }
        hr{
            width: 100%;
            margin-top: 40px;
            border: 1px solid #E8E8E8;
        }
        .page_btm{
            .page_btm_connect{
                width: 100%;
                margin-top: 44px;
                // display: flex;
                // flex-direction: column;
                h3{
                    font-weight: 700;
                    font-size: 19px;
                    line-height: 16px;
                    color: #666666;
                    margin-bottom: 31px;
                }
                .page_btm_connect_input{
                    display: flex;
                    flex-direction: column;
                    label{
                        display: flex;
                        margin-bottom: 29px;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 38px;
                        color: #666666;
                        input{
                            width: 200px;
                            height: 38px;
                            background: #FFFFFF;
                            border: 1px solid #E8E8E8;border-radius: 5px;
                            padding:10px;
                            
                        }
                    }
                    .page_btm_connect_email_status{
                    font-weight: 500;
                    font-size: 12px;
                    color: #ff0707;
                    text-align: start;
                    margin: 0;
                    line-height: 16px;
                    }
                    
                }
                p{
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 13px;
                    color: #666666;
                    @include rwdSecond(){
                        line-height: 25px;
                    }
                    @include mobile{
                        line-height: 25px;
                    }
                    
                }
            }
        }
        .page_btm_creditCard{
            margin-top: 44px;
            h3{
                font-weight: 700;
                font-size: 19px;
                line-height: 16px;
                color: #666666;
            }
            .page_btm_creditCard_input{
                margin-top: 31px;
                .tpfield_container{
                    display: flex;
                    // flex-direction: column;
                    margin-bottom: 29px;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 38px;
                    color: #666666;
                    .tpfield{
                        width: 200px;
                        height: 38px;
                        background: #FFFFFF;
                        border: 1px solid #E8E8E8;
                        border-radius: 5px;
                        padding:10px;
                        
                    }
                }
                p{
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 13px;
                    color: #666666;
                    
                }
            }
            // .tpfield {
            //     height: 40px;
            //     width: 300px;
            //     border: 1px solid gray;
            //     margin: 5px 0;
            //     padding: 5px;
            // }
        }

        .page_checkout{
            display: flex;
            flex-direction: column;
            // justify-content: flex-end;
            align-items: flex-end;
            
            div{
                display: flex;
                
                font-weight: 700;
                font-size: 16px;
                line-height: 13px;
                color: #666666;
                margin-top: 43px;
            }
            button{
                width: 173px;
                height: 36px;
                background: #448899;
                border-radius: 5px;
                border:none ;
                color: #FFFFFF;
                font-weight: 400;
                font-size: 19px;
                line-height: 16px;
                margin-top: 26px;
                margin-bottom: 62px;
            }
        }
    }
// 沒有任何行程的顯示頁面
    .other_booking_page{
        width: 70%;
        margin: 100px auto;
        position: relative;
        display: none;
        @include mobile{
            width:100%;
            padding: 10px;
        }
        .page_top_title{
            display: flex;
            font-weight: 700;
            font-size: 19px;
            line-height: 16px;
            margin-bottom:40px ;
            color: #666666;
        }
        p{
            font-weight: 500;
            font-size: 16px;
            line-height: 13px;
            color: #666666;
            a{
                font-weight: 500;
                font-size: 16px;
                line-height: 13px;
                color: #2f2f2f;    
            }
             a:hover{
                    font-size: 18px;
                    color: #666666
                } 
        }
    }
    
}