* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Noto Sans TC";
  font-style: normal;
  text-decoration: none;
}

nav {
  width: 100%;
  height: 54px;
  position: fixed;
  top: 0;
  z-index: 2;
  background-color: white;
}
nav .nav-bar {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1250px) {
  nav .nav-bar {
    width: 90%;
  }
}
@media (max-width: 800px) {
  nav .nav-bar {
    width: 90%;
  }
}
@media (max-width: 500px) {
  nav .nav-bar {
    width: 92%;
  }
}
@media (max-width: 360px) {
  nav .nav-bar {
    width: 90%;
  }
}
nav .nav-bar .nav-bar-left p {
  padding: 10px 0;
  font-size: 30px;
  font-weight: 700;
  color: #448899;
}
@media (max-width: 500px) {
  nav .nav-bar .nav-bar-left p {
    font-size: 24px;
  }
}
@media (max-width: 360px) {
  nav .nav-bar .nav-bar-left p {
    font-size: 24px;
  }
}
nav .nav-bar .nav-bar-right {
  display: flex;
}
nav .nav-bar .nav-bar-right p, nav .nav-bar .nav-bar-right .nav-signup {
  padding: 5px;
  font-weight: 500;
  font-size: 16px;
  line-height: 54px;
  color: #666666;
  padding: 0 10px;
}
@media (max-width: 360px) {
  nav .nav-bar .nav-bar-right p, nav .nav-bar .nav-bar-right .nav-signup {
    padding: 20px 10px;
    line-height: 13px;
  }
}
nav .nav-bar .nav-bar-right .nav-signout {
  display: none;
  padding: 5px;
  font-weight: 500;
  font-size: 16px;
  line-height: 54px;
  color: #666666;
  padding: 0 10px;
}
@media (max-width: 360px) {
  nav .nav-bar .nav-bar-right .nav-signout {
    padding: 20px 10px;
    line-height: 13px;
  }
}

main .main {
  width: 70%;
  margin: 0 auto;
  position: relative;
}
@media (max-width: 360px) {
  main .main {
    width: 100%;
    padding: 10px;
  }
}
main .main .icon_delete {
  width: 30px;
  height: 30xp;
  position: absolute;
  top: 43px;
  right: 15px;
}
@media (max-width: 360px) {
  main .main .icon_delete {
    top: 530px;
    right: 15px;
  }
}
main .main .page_top {
  width: 100%;
  margin-top: 100px;
}
@media (max-width: 360px) {
  main .main .page_top {
    margin-top: 80px;
  }
}
main .main .page_top .page_top_title {
  font-weight: 700;
  font-size: 19px;
  line-height: 16px;
  margin-bottom: 35px;
  color: #666666;
}
main .main .page_top .page_top_content {
  width: 100%;
  display: flex;
}
@media (max-width: 360px) {
  main .main .page_top .page_top_content {
    display: flex;
    flex-direction: column;
  }
}
main .main .page_top .page_top_content .page_top_content_img {
  width: 266px;
  height: 200px;
}
@media (max-width: 360px) {
  main .main .page_top .page_top_content .page_top_content_img {
    width: 100%;
  }
}
main .main .page_top .page_top_content .page_top_content_img .booking_image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .main .page_top .page_top_content .page_top_content_text {
  margin-left: 22px;
}
@media (max-width: 360px) {
  main .main .page_top .page_top_content .page_top_content_text {
    margin-top: 20px;
    margin-left: 0px;
  }
}
main .main .page_top .page_top_content .page_top_content_text h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 13px;
  color: #448899;
  margin-bottom: 30px;
}
main .main .page_top .page_top_content .page_top_content_text p {
  font-weight: 500;
  font-size: 16px;
  line-height: 13px;
  color: #666666;
  margin: 20px 0;
}
main .main hr {
  width: 100%;
  margin-top: 40px;
  border: 1px solid #E8E8E8;
}
main .main .page_btm .page_btm_connect {
  width: 100%;
  margin-top: 44px;
}
main .main .page_btm .page_btm_connect h3 {
  font-weight: 700;
  font-size: 19px;
  line-height: 16px;
  color: #666666;
  margin-bottom: 31px;
}
main .main .page_btm .page_btm_connect .page_btm_connect_input {
  display: flex;
  flex-direction: column;
}
main .main .page_btm .page_btm_connect .page_btm_connect_input label {
  display: flex;
  margin-bottom: 29px;
  font-weight: 500;
  font-size: 16px;
  line-height: 38px;
  color: #666666;
}
main .main .page_btm .page_btm_connect .page_btm_connect_input label input {
  width: 200px;
  height: 38px;
  background: #FFFFFF;
  border: 1px solid #E8E8E8;
  border-radius: 5px;
}
main .main .page_btm .page_btm_connect p {
  font-weight: 700;
  font-size: 16px;
  line-height: 13px;
  color: #666666;
}
@media (max-width: 360px) {
  main .main .page_btm .page_btm_connect p {
    line-height: 23px;
  }
}
main .main .page_btm_creditCard {
  margin-top: 44px;
}
main .main .page_btm_creditCard h3 {
  font-weight: 700;
  font-size: 19px;
  line-height: 16px;
  color: #666666;
}
main .main .page_btm_creditCard .page_btm_creditCard_input {
  margin-top: 31px;
}
main .main .page_btm_creditCard .page_btm_creditCard_input label {
  display: flex;
  margin-bottom: 29px;
  font-weight: 500;
  font-size: 16px;
  line-height: 38px;
  color: #666666;
}
main .main .page_btm_creditCard .page_btm_creditCard_input label input {
  width: 200px;
  height: 38px;
  background: #FFFFFF;
  border: 1px solid #E8E8E8;
  border-radius: 5px;
}
main .main .page_btm_creditCard .page_btm_creditCard_input p {
  font-weight: 700;
  font-size: 16px;
  line-height: 13px;
  color: #666666;
}
main .main .page_checkout {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
main .main .page_checkout p {
  font-weight: 700;
  font-size: 16px;
  line-height: 13px;
  color: #666666;
  margin-top: 43px;
}
main .main .page_checkout button {
  width: 173px;
  height: 36px;
  background: #448899;
  border-radius: 5px;
  border: none;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 19px;
  line-height: 16px;
  margin-top: 26px;
  margin-bottom: 62px;
}

footer {
  width: 100%;
  height: 104px;
  background: #757575;
}
footer p {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 16px;
  line-height: 104px;
  text-align: center;
}/*# sourceMappingURL=booking.css.map */