<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attraction.html</title>
    <link rel="stylesheet" href="../static/css/attraction.css">
    <link rel="stylesheet" href="../static/css/all.css">

</head>
<body>
    <nav>
        <div class="nav-bar">
          <div class="nav-bar-left">
            <p>台北一日遊</p>
          </div>
          <div class="nav-bar-right">
            <p>預設行程</p>
            <p>登入/註冊</p>
          </div>
        </div>
    </nav>
   <main>
    <section class="attractionPage">
        <div class="pageTop">
            <div class="pageTopImg">
                <img src="../static/img/QMFR1520.JPG" alt="">
                <div class="imgArrow">
                    <div class="imgArrowBlock"><i class="fa-solid fa-angle-left"></i></div>
                    <div class="imgArrowBlock"><i class="fa-solid fa-angle-right"></i></div>
                </div>
                <div class="ballBlock">
                    <input type="radio" class="ball" name="imgChange">
                    <input type="radio" class="ball" name="imgChange" >
                </div>
            </div>
            <div class="pageTopTour">
                <div class="pageTopTourTitle">
                    <h2>平安樓</h2> 
                    <p>公共藝術at忠孝復興</p>
                </div>
                <div class="pageTopTourBooking">
                    <h4>訂購導覽行程</h4>
                    <p>以此景點為中心的一日行程，帶您探索城市角落故事</p>
                    <form class="date"><label for="">選擇日期：</label> <input type="date"></form>
                    <form class="time"><label for="">選擇時間：</label> <input id="morning" type="radio" name="time">上半天
                    <input id="afternoon" type="radio" name="time">下半天</form>
                    <div class="cash"><label for="">導覽費用:</label>   新台幣2000元</div>
                    <button class="readyBooking">開始預約行程</button>
                </div>
            </div>
        </div>
        <hr class="hr">
        <div class="pageBtm">
            <p class="content">平安鐘祈求大家的平安，這是為了紀念921地震週年的設計，在喧鬧的廣場上每個小時鳴鐘，保佑平安，祈禱臺灣不會再發生這樣的天災。雙手合十加上108個黃色的琉璃乳丁，隨著緩緩流下的水，在底下的一個小噴泉噴出。雙手合十的意義，一個是祈福，一個是包容，教我們要包容這樣的改變，撫平這樣的傷口。下面的水緩緩流出，代表著人的生命力是不斷地延續下去。緩緩地鐘聲，卻帶來心中的寧靜。 這個平安鐘是由建築師姚仁喜與琉璃創作家王俠軍共同設計，長6公尺、寬5公尺，以鑄銅製成，由法鼓山文教基金會全額出資。平安鐘點綴都市景觀，不時提醒大家，面對刻骨銘心的災難痛苦，更應該有謙卑的一顆心。</p>
            <h4 class="address">景點地址：
                <p>臺北市 大安區忠孝東路4段</p></h4>
            <h4 class="traffic">交通方式：
                <p>捷運站名：忠孝復興站4號出口1.公車：204、212、212直、232、232副、262、262(區間)、278、299、521、605、605(副)、605(新台五線)、667、903、忠孝新幹線至頂好市場站 2.車位：太平洋崇光百貨地下停車場或市民大道附近地下停車場</p></h4>
        </div>
    </section>
   </main> 
   <footer>
    <p>COPYRIGHT © 2021 台北一日遊</p>
  </footer>
</body>
</html>