<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Attraction.html</title>
    <link rel="stylesheet" href="../static/css/attraction.css" />
    <link rel="stylesheet" href="../static/css/all.css" />
  </head>
  <body>
    <nav>
      <div class="nav-bar">
        <a href="http://172.20.10.2:3000/"
          ><div class="nav-bar-left">
            <p>台北一日遊</p>
          </div></a
        >
        <div class="nav-bar-right">
          <p>預設行程</p>
          <p>登入/註冊</p>
        </div>
      </div>
    </nav>
    <main>
      <section class="attractionPage">
        <div class="pageTop">
          <div class="pageTopImg">
            <div class="imgBoxes">
             
            </div>
            <div class="imgArrow">
              <div class="imgArrowBlock prev">
                <i class="fa-solid fa-angle-left"></i>
              </div>
              <div class="imgArrowBlock next">
                <i class="fa-solid fa-angle-right"></i>
              </div>
            </div>
            <div class="swiper-pagination"></div>
          </div>
          <div class="pageTopTour">
            <div class="pageTopTourTitle">
              <h2></h2>
              <div class="at">
                <div class="category"></div>
                <div>&nbsp;at&nbsp;</div>
                <div class="mrt"></div>
              </div>
            </div>
            <div class="pageTopTourBooking">
              <h4>訂購導覽行程</h4>
              <p>以此景點為中心的一日行程，帶您探索城市角落故事</p>
              <form class="date">
                <label for="">選擇日期：&nbsp;</label><input type="date" />
              </form>
              <form class="time">
               <div><label for="">選擇時間：&nbsp;</label><input
                  id="morning"
                  type="radio"
                  name="time"
                  checked
                />上半天 &ensp;<input
                  id="afternoon"
                  type="radio"
                  name="time"
                />下半天</div>
              </form>
              <form action=""> 
             
              <div class="cash">
                導覽費用：&nbsp;
                <div class="price">新台幣2000元</div>
              </div>
              <button class="readyBooking">開始預約行程</button>
            </div>
          </div>
        </div>
        <hr class="hr" />
        <div class="pageBtm">
          <p class="content"></p>
          <h4>
            景點地址：
            <p class="address"></p>
          </h4>
          <h4>
            交通方式：
            <p class="traffic"></p>
          </h4>
        </div>
      </section>
    </main>
    <footer>
      <p>COPYRIGHT © 2021 台北一日遊</p>
    </footer>
    <script src="../static/attraction.js"></script>
  </body>
</html>
