<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/all.css" />
    <link rel="stylesheet" href="../static/css/base.css" />
    <link rel="stylesheet" href="twicon/twicon.css">
    <link rel="shortcut icon" href="../static/img/hall_favicon.ico" />
    <title>Taipei Day Trip</title>
    {% block css %} {% endblock %}
  </head>
  <body>
    <nav>
      <div class="navbar">
        <a href="/"
          ><div class="navbar_title">
            <p>台北一日遊</p>
          </div></a
        >
        <div class="navbar_mainmenu">
          <label for="switch"><i class="fa-solid fa-bars"></i></label> <!--漢堡按鈕圖示-->
          <input type="checkbox" id="switch"> <!--選單開關-->
          <ul class="menu_bar">
             <li class="navbar_booking_btn">預定行程</li>
          <li class="navbar_signup_signin_btn">登入/註冊</li>
          <!-- <li class="navbar_member_btn">會員中心
            <ul class="navbar_memeber_dropdown_menu">
              <li class="navbar_memeber_dropdown_item revise_user_data">修改會員資料</li>
               <li class="navbar_memeber_dropdown_item search_order_number">查詢訂單編號</li> 
            </ul>
          </li> -->
          <li class="navbar_signout_btn">登出系統</li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- signup member account_number -->
    <div class="navbar_signup_dialog">
      <div class="navbar_signup_style_bgimage"></div>
      <div class="navbar_signup_style_textbox">
        <i id="checkEye_signup" class="fas fa-eye"></i>
        <h3>註冊會員帳號</h3>
        <div class="navbar_signup_account_content">
          <input
            type="text"
            class="name"
            name="name"
            id="signup_name"
            placeholder="輸入姓名"
            required
          />
          <input
            type="email"
            class="email"
            name="email"
            id="signup_email"
            placeholder="輸入電子信箱"
            required
          />
          <p class="navbar_signup_email_status"></p>
          <input
            type="password"
            class="password"
            name="password"
            id="signup_password"
            placeholder="輸入密碼"
          />
          <button class="navbar_signup_btn">註冊帳戶</button>
        </div>
        <p class="navbar_signup_status"></p>
        <p class="navbar_signin_toggle">已經有帳戶了？點此登入</p>
        <div class="navbar_signup_xmark"><i class="fa-solid fa-xmark"></i></div>
      </div>
    </div>
    <!-- signin member account_number -->
    <div class="navbar_signin_dialog">
      <div class="navbar_signin_style_bgimage"></div>
      <div class="navbar_signin_style_textbox">
        <i id="checkEye_signin" class="fas fa-eye"></i>
        <h3>登入會員帳號</h3>
        <div class="navbar_signin_account_content">
          <input
            type="email"
            name="email"
            class="email"
            id="signin_email"
            placeholder="輸入電子信箱"
            required
          />
          <p class="navbar_signin_email_status"></p>
          <input
            type="password"
            name="password"
            class="password"
            id="signin_password"
            placeholder="輸入密碼"
            required
          />
          <button class="navbar_signin_btn">登入帳戶</button>
        </div>
        <p class="navbar_signin_status"></p>
        <p class="navbar_signup_toggle">還沒有帳戶？點此註冊</p>
        <div class="navbar_signin_xmark"><i class="fa-solid fa-xmark"></i></div>
      </div>
    </div>
    
    {% block main %}{% endblock %}

    <footer>
      <p>COPYRIGHT © 2022 台北一日遊</p>
    </footer>
    <footer class="footer_booking_page_no_reservation">
      <p>COPYRIGHT © 2022 台北一日遊</p>
    </footer>
    {% block Javascript %}{% endblock %}
  </body>
</html>
