<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="" />
    <link rel="stylesheet" href="" />
    <link rel="shortcut icon" href="#" />
    <title>Document</title>
  </head>
  <body>
    <nav>
      <div class="nav-bar">
        <div class="nav-bar-left">
          <p>台北一日遊</p>
        </div>
        <div class="nav-bar-right">
          <p>預設行程</p>
          <p class="nav-signup">登入/註冊</p>
          <p class="nav-signout">登出系統</p>
        </div>
      </div>
    </nav>
    <main>
      <section class="main">
        <div class="page_top">
          <p class="page_top_title">您好，Yakko，代預定的行程如下</p>
          <div class="page_top_content">
            <div class="page_top_content_img"></div>
            <div class="page_top_content_text">
              <h2>台北一日遊：平安鐘</h2>
              <span
                ><p>日期：</p>
                <p></p
              ></span>
              <span
                ><p>時間：</p>
                <p></p
              ></span>
              <span
                ><p>費用：</p>
                <p></p
              ></span>
              <span
                ><p>地點：</p>
                <p></p
              ></span>
            </div>
          </div>
          <hr />
        </div>
        <div class="page_btm">
          <div class="page_btm_connect">
            <h3>您的聯絡資訊</h3>
            聯絡姓名：<input type="text"/>
            聯絡信箱：<input type="text"/>
            手機號碼：<input type="text"/>
            <p>請保持手機暢通，準時到達，導覽人員將用手機與您聯繫，務必留下正確的聯絡方式。</p>
          </div>
          <div class="page_btm_creditCard">
            <h3>信用卡付款資訊</h3>
            卡片號碼：<input type="text"/>
            過期時間：<input type="text"/>
            驗證密碼：<input type="text"/>
          </div>
          <hr>
        </div>
        <div class="page_checkout">
            <p>總價：新台幣 2000 元</p>
            <button>確認訂購並付款</button>

        </div>
      </section>
    </main>
    <footer>
      <p>COPYRIGHT © 2021 台北一日遊</p>
    </footer>
  </body>
</html>
