{% extends "base.html" %}

{% block css %} 
<link rel="stylesheet" href="../static/css/booking.css" />
{% endblock %}

{% block main %}
<main id="main">
  <section class="main">
    <img src="../static/img/icon_delete.png" alt="" class="icon_delete">
    <div class="page_top">
      <div class="page_top_title">您好，<p class="city_booker"></p>，待預定的行程如下</div>
      <div class="page_top_content">
        <div class="page_top_content_img">
          <img
            alt=""
            class="booking_image"
          />
        </div>
        <div class="page_top_content_text">
          <div><h2>台北一日遊：<h2 class="city_name"></h2></h2></div>
          <div><p>日期：</p><p class="city_date p_style"></p></div>
          <div><p>時間：</p><p class="city_time p_style"></p></div>
          <div><p>費用：新台幣</p><p class="city_fee p_style"></p> <p>元</p></div>
          <div><p>地點：</p><p class="city_site p_style"></p></div>
        </div>
      </div>
      <hr class="hr">
    </div>
    <div class="page_btm">
      <div class="page_btm_connect">
        <h3>您的聯絡資訊</h3>
        <div class="page_btm_connect_input">
        <label for="">聯絡姓名：<input type="text" placeholder="Yakko" required /></label>
        <label for="">聯絡信箱：<input type="text" placeholder="imyakkowu@gmail.com" required/></label>
        <label for="">手機號碼：<input type="text" placeholder="" required/>
        </div></label>
        <p>
          請保持手機暢通，準時到達，導覽人員將用手機與您聯繫，務必留下正確的聯絡方式。
        </p>
      </div>
      <hr class="hr">
      <div class="page_btm_creditCard">
        <h3>信用卡付款資訊</h3>
        <div class="page_btm_creditCard_input">
        <label for="">卡片號碼：<input type="password" placeholder="**** **** ****" required/></label>
        <label for="">過期時間：<input type="text" placeholder="MM / YY" required/></label>
        <label for="">驗證密碼：<input type="text" placeholder="CVV"required/></label>
        </div>
      </div>
      <hr class="hr">
    </div>
    <div class="page_checkout"><div>總價：新台幣<p class="city_price"></p>元</div> 
      <button>確認訂購並付款</button>
    </div>
  </section> 
<!-- 新台幣 2000 元 -->
  <section class="main_page">
    <div class="page_top_title">您好，<div class="city_booker"></div>，待預定的行程如下</div>
    <p>目前沒有任何待預訂的行程</p>
  </section> 
</main>
{% endblock %}

{% block Javascript %}
<script type="module" src="../static/booking.js"></script>
{% endblock %}
