<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>台北</title>
    <link rel="stylesheet" href="../static/css/style.css" />
    <link rel="stylesheet" href="../static/css/all.css" />
    
  </head>
  <body>
    <nav>
      <div class="nav-bar">
        <div class="nav-bar-left">
          <p>台北一日遊</p>
        </div>
        <div class="nav-bar-right">
          <p>預設行程</p>
          <p>登入/註冊</p>
        </div>
      </div>
    </nav>
    <main>
      <section class="page-one">
        <div class="text">
          <h2>輕鬆享受台北一日悠閒</h2>
          <p>探索每個角落，體驗程式的深度旅遊行程</p>
          <form action="" method="" class="but">
            <input
              type="text"
              name=""
              class="search"
              value="輸入景點名稱查詢"
            />
            <button type="" class="icon">
              <i class="fa-solid fa-magnifying-glass"></i>
            </button>
          </form>
          <!-- 建立搜尋表單 -->
          <div class="searchForm">
            <div class="searchItem">公共藝術</div>
            <div class="searchItem">其    他</div>
            <div class="searchItem">單車遊蹤</div>
            <!-- <div></div> -->
            <div class="searchItem">宗教信仰</div>
            <div class="searchItem">戶外踏青</div>
            <div class="searchItem">春季活動</div>
            <!-- <div></div> -->
            <div class="searchItem">歷史建築</div>
            <div class="searchItem">藍色公路</div>
            <div class="searchItem">藝文館所</div>
            <!-- <div></div> -->
            <div class="searchItem">親子共遊</div>
            <div class="searchItem">養生溫泉</div>
            <!-- <div class="searchItem">1 2 3</div> -->
            <!-- <div></div> -->
          </div>
        </div>
      </section>
      <section class="page-two">
        <div class="boxes">
          <div class="item">
            <div class="name-top">
                <img src="../static/img/QMFR1520.JPG" alt="" class="name-top">
                <p>平安樓</p>
                </div>
            <div class="name-btn">
              <p>忠孝復興</p>
              <p>公共藝術</p>
            </div>
          </div>
          <div class="item">
            <div class="name-top">
                <p>平安樓</p>
                </div>
            <div class="name-btn">
              <p>忠孝復興</p>
              <p>公共藝術</p>
            </div>
          </div>
          <div class="item">
            <div class="name-top">
                <p>平安樓</p>
                </div>
            <div class="name-btn">
              <p>忠孝復興</p>
              <p>公共藝術</p>
            </div>
          </div>
          <div class="item">
            <div class="name-top">
                <p>平安樓</p>
                </div>
            <div class="name-btn">
              <p>忠孝復興</p>
              <p>公共藝術</p>
            </div>
          </div>
          <div class="item">
            <div class="name-top">
                <p>平安樓</p>
                </div>
            <div class="name-btn">
              <p>忠孝復興</p>
              <p>公共藝術</p>
            </div>
          </div>
          <div class="item">
            <div class="name-top">
                <p>平安樓</p>
                </div>
            <div class="name-btn">
              <p>忠孝復興</p>
              <p>公共藝術</p>
            </div>
          </div>
          <div class="item">
            <div class="name-top">
                <p>平安樓</p>
                </div>
            <div class="name-btn">
              <p>忠孝復興</p>
              <p>公共藝術</p>
            </div>
          </div>
          <div class="item">
            <div class="name-top">
                <p>平安樓</p>
                </div>
            <div class="name-btn">
              <p>忠孝復興</p>
              <p>公共藝術</p>
            </div>
          </div>
          <div class="item">
            <div class="name-top">
                <p>平安樓</p>
                </div>
            <div class="name-btn">
              <p>忠孝復興</p>
              <p>公共藝術</p>
            </div>
          </div>
          <div class="item">
            <div class="name-top">
                <p>平安樓</p>
                </div>
            <div class="name-btn">
              <p>忠孝復興</p>
              <p>公共藝術</p>
            </div>
          </div>
          <div class="item">
            <div class="name-top">
                <p>平安樓</p>
                </div>
            <div class="name-btn">
              <p>忠孝復興</p>
              <p>公共藝術</p>
            </div>
          </div>
          <div class="item">
            <div class="name-top">
                <p>平安樓</p>
                </div>
            <div class="name-btn">
              <p>忠孝復興</p>
              <p>公共藝術</p>
            </div>
          </div>    
          
        </div>
      </section>
    </main>
    <footer>
      <p>COPYRIGHT © 2021 台北一日遊</p>
    </footer>
    
  </body> 
  <!-- JS -->
  <script src="../static/new.js"></script>
   
</html> -->
