{% extends "base.html" %} 

{% block css %}
<link rel="stylesheet" href="../static/css/index.css" />
{% endblock %} 

{% block main %}
<main id="main">
  <section class="main_bgimage">
    <div class="main_bgimage_content">
      <h2 class="main_bgimage_title">輕鬆享受台北一日悠閒</h2>
      <p class="main_bgimage_subtitle">探索每個角落，體驗程式的深度旅遊行程</p>
      <form action="" method="" class="main_bgimage_search_container">
        <input
          type="text"
          name=""
          class="main_bgimage_searchBar"
          placeholder="輸入景點名稱查詢"
        />
        <div type="" class="main_bgimage_searchIcon">
          <i class="fa-solid fa-magnifying-glass"></i>
        </div>
      </form>
      <!-- 建立搜尋表單 -->
      <div class="main_bgimage_search_dialog">
        <div class="main_bgimage_search_form"></div>
      </div>
    </div>
  </section>
  <section class="main_container">
    <div class="main_imgBoxes"></div>
  </section>
  <div class="loading">
    <div class="ball"></div>
    <div class="ball"></div>
    <div class="ball"></div>
  </div>
</main>
{% endblock %} 

{% block Javascript %}
<!-- <script src="../static/all.js"></script> -->
<script type="module" src="../static/all.js"> </script>

{% endblock %}
