<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>台北一日遊</title>
    <link rel="stylesheet" href="../static/css/all.css" />
    <link rel="stylesheet" href="../static/css/index.css" />
  </head>
  <body id="body">
    <nav>
      <div class="nav-bar">
        <div class="nav-bar-left">
          <p>台北一日遊</p>
        </div>
        <div class="nav-bar-right">
          <p>預設行程</p>
          <p>登入/註冊</p>
        </div>
      </div>
    </nav>
    <main>
      <section class="pageOne">
        <div class="text">
          <h2>輕鬆享受台北一日悠閒</h2>
          <p>探索每個角落，體驗程式的深度旅遊行程</p>
          <form action="" method="" class="but">
            <input
              type="text"
              name=""
              class="search"
              placeholder="輸入景點名稱查詢"
            />
            <div type="" class="icon">
              <i class="fa-solid fa-magnifying-glass"></i>
            </div>
          </form>
          <!-- 建立搜尋表單 -->
          <div class="searchContainer">
            <div class="searchForm"></div>
          </div>
        </div>
      </section>
      <section class="pageTwo">
        <div class="imgBoxes"></div>
      </section>
      <div class="loading">
        <div class="ball"></div>
        <div class="ball"></div>
        <div class="ball"></div>
      </div>
    </main>
    <footer>
      <p>COPYRIGHT © 2021 台北一日遊</p>
    </footer>
  </body>
  <script src="../static/all.js"></script>
</html>
