<!-- {% extends "base.html" %}

{% block css %} 
<link rel="stylesheet" href="../static/css/all.css" />
<link rel="stylesheet" href="../static/css/member.css" />
{% endblock %}

{% block main %}
<main id="main">
    <section class="revise_user_data_container">
        <div class="revise_content">修改個人資訊</div>
        <div class="user_data">
            <div class="user_data_item"><label for="">姓名：</label><input type="text" class="item" id="name" ></div>
            <div class="user_data_item" ><label for="">信箱：</label><input type="text" class="item" id="email"></div>
            <div class="user_data_item"><label for="">密碼：</label><input type="password" class="item" id="floatingPassword">
            <i id="checkEye" class="fas fa-eye"></i>
            <!-- <i id="check_out_eye" class="fas fa-eye-slash"></i> -->
        </div>
        </div>
       <div class="revise_success">修改成功！</div>
       <div class="revise_error">修改格式不正確，請重新確認</div>
        <div>
            <button class="revise_user_data_btn">儲存</button>
        </div>
    </section>
    <section class="search_order_number_container"></section>
</main>
{% endblock %}

{% block Javascript %}
<script type="module" src="../static/member.js"></script>
<script src="../static/setting.js"></script>
{% endblock %} -->
